/* .main-bg {
  background-color: #1D2839;
} */
/* body > #root > div {
  height: auto;
} */

.secondary-bg {
  background-image: repeating-linear-gradient(112.5deg, rgba(26,11,11, 0.2) 0px, rgba(26,11,11, 0.2) 0px,transparent 0px, transparent 1px,rgba(26,11,11, 0.2) 1px, rgba(26,11,11, 0.2) 4px,transparent 4px, transparent 5px,rgba(26,11,11, 0.2) 5px, rgba(26,11,11, 0.2) 8px),repeating-linear-gradient(22.5deg, rgba(26,11,11, 0.2) 0px, rgba(26,11,11, 0.2) 0px,transparent 0px, transparent 1px,rgba(26,11,11, 0.2) 1px, rgba(26,11,11, 0.2) 4px,transparent 4px, transparent 5px,rgba(26,11,11, 0.2) 5px, rgba(26,11,11, 0.2) 8px),linear-gradient(181deg, rgb(47, 47, 47),rgb(78,74,74));
}